@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

body {
    margin: 0px;
    font-family: 'Prompt', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}

.navbar  {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #006994;
}

.navbar-content {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    width: 85%;
    padding: 20px;
}
.navbar img {
    height: 150px;
    border-radius: 50%;
}

.navbar-links {
    display: flex;
    gap: 20px;
    font-size: 24px;;
}

.navbar-links a:link {
    text-decoration: none;
    color: white;
    background-color: transparent;
}

.navbar-links a:visited {
    color: white;
} 
.navbar-links a:hover {
    color: cyan;
}

.color-wrap {
    background-color: #006994;
    width: 100%;
    padding-bottom: 50px;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    width: 100%;

}

.main-text {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding-right: 40px;
    color: white;
}
.main-text p {
    display: flex;
    justify-content: center;
    width: 400px;
} 
.main-text h1{
    display: flex;
    justify-content: center;
    font-size: 48px;
    margin-bottom: 0;
    width: 400px;
}
.main-image {
    display: flex;
    height: 300px;
    width: 400px;
}

.content {
display: flex;
flex-direction: row;
gap: 20px;
padding-bottom: 50px;
}
.info-h1 {
    display: flex;
    font-size: 30px;    
    font-weight: bold;
}
.image-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
}
.image-info p {
    display: flex;
    justify-content: center;
    width: 200px;
}
.image-info img {
    height: 150px;
    width: auto;
    border-radius: 10%;
}
.color-wrap-quote {
    background-color: rgba(0, 105, 148, 0.2);
    width: 100%;
    padding: 25px;
}
.quotes {
    display: flex;    
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.quote-1, .quote-2{
    color: blue;
    width: 60%;
}
.quote-1 {
    font-size: 36px;
    font-style: italic;
}
.quote-2 {
    display: flex;
    justify-content: right;
    margin-right: 10px;
    font-size: 20px;
    font-weight: bolder;
}

.call-action {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
    border-radius: 10px;
    background-color: #1CC7D4;
    padding: 25px 100px;
    width: 50%;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
}

.button-call button:hover {
    background-color: #006994;
}
button {
    font-weight: bold;
    width: 100px;
}
button:hover {
    background-color: cyan;
    border-radius: 5px;
}
.call-text {
    display: flex;
    flex-direction: column;
    text-align: left;   
    padding-right: 20px;
}

.footer {
    background-color: #006994;
    width: 100%;
    color: white;
}
.footer a:link {
    text-decoration: none;
    color: white;
    background-color: transparent;
}
.footer a:visited {
    color: white;
} 
.footer a:hover {
    color: cyan;
}
